<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
  </body>

  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</html>
